page-home {
    #map{
        width: 100%;
        height: 100%;
    }

    .origem{
        text-align: center;
        background-color: green;

    }

    .destino{
        text-align: center;
        background-color: red;
    }
}
