page-login {
    .imagem{
        background-size: cover;
    }

    .error{
        color:rgb(18, 51, 100);
        text-shadow: 2px 1px rgba(255, 0, 64, 0.322);
        font-weight: bold;
        font-size: 20px;
    }

}
