<ion-header>

  <ion-navbar>
    <ion-title>Minhas Tarefas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list style="width:100%" class="no-tab-slide">
    <ion-list-header>
      Tarefas em Aberto - {{qtdTarefasAberto}}
    </ion-list-header>
    <ion-item-sliding #itemSelect *ngFor="let tarefa of tarefasAberto; let i = index" [style.borderLeft]="'10px solid' + tarefa.cor">
      <ion-item>
          {{tarefa.nome}}
          <p>{{tarefa.data | date:'dd/MM/yyyy'}}</p>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button (click)="concluirTarefa(i, tarefa, itemSelect)">
            <ion-icon name="archive"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="apagarTarefa(i, itemSelect)"> 
            <ion-icon name="trash"></ion-icon>
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list style="width:100%" class="no-tab-slide">
    <ion-list-header>
      Tarefas Concluídas - {{qtdTarefasConcluidas}}
    </ion-list-header>
    <ion-item *ngFor="let tarefa of tarefasConcluidas" [style.borderLeft]="'10px solid' + tarefa.cor">
      {{tarefa.nome}}
      <p>{{tarefa.data | date: 'dd/MM/yyyy'}}</p>
    </ion-item>
  </ion-list>

</ion-content>
